/*SOP Project - Generic CSS*/
.sop-row{
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.sop-col-left{
	padding-right: 0px;
}

.sop-col-right{
	padding-left: 0px;
}

.sop-action{
	cursor: pointer;
}

.sop-action:hover{
	color: #3175af;
}

.sop-action > i {
	padding-right: 5px;
}

.sop-segment{
	border: 1px solid #ddd;
	padding: 15px;
}


.sop-header{
	font-weight: 600;
	font-size: 16px;
}

.sop-header .sop-header-details{
	font-weight: 500;
	font-size: 16px;
	float: right;
}

.sop-subheader{
	color: #a7a7a7;
	font-size: 12px;
	padding-bottom: 1px;
}

.sop-subheader > span.sub-pull-right{
	float: right;
}

.no-pad-left{
	padding-left: 0px;
}

.sop-divider {
    width: 100%;
    height: 1px;
    margin: 10px auto;
    border-bottom: 2px solid #969696;
}

.sop-selected-row{
	background-color: rgba(114, 166, 195, 0.25);
}

.sop-selected-row:hover{
	background-color: rgba(114, 166, 195, 0.25) !important;
}

.sop-doc-select{
	padding-bottom: 15px;
}

.sop-custom-label{
  font-size: 11px;
  margin-right: 3px;
  margin-top: 3px;
  display: inline-block;
  padding: .25em .4em;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 2px;
  /*width: 45px;*/
  min-width: 45px;
  background-color: #A7A7A7;
}

/*.sop-custom-label:hover{
	background-color: #0275d8;
}*/
.sop-label-sm{
    width: 31px;
}

.sop-dft-label{
	background-color: #AFB2B5;
}

.sop-sop-label{
	background-color: #33A3FF;
}

.sop-eid-label{
	background-color: #F1AB35;
}

.sop-confspace-label{
	background-color: #76B34E;
}

.sop-no-label{
	background-color: transparent;
}

.sop-item > a{
	font-weight: 500;
    padding: 1px 6px;
}

.sop-item > a:hover{
    /*background-color: rgba(91, 164, 220, 0.81);
    color: #fff;*/
}

.sop-item-open > a{
	/*background-color: rgba(91, 164, 220, 0.81);
    color: #fff;*/
    font-weight: bold;
}
.sop-search-btn{
	margin-left: 10px;
	width: initial;
}

.sop-search-btn2{
	margin-left: 10px;
	width: initial;
	border: none;
	background-color: transparent;
	padding: 2px 14px;
	color: gray; 
}

.sop-search-btn2:hover{
	color: black;
}

.red{
	color: "#E82222";
}
.red:hover{
	color: "#578EBE";
}

.sop-selected-tree{
	font-weight: bold !important;
}

.sop-i-pad{
	padding-right: 10px;
}

.sop-option-row{
/*	padding-left: 0;*/
	margin-top: 5%;
}
.sop-option-header{
	/*font-weight: 600;*/
	font-size: 13px;
}

.sop-bold{
  font-weight: bold !important;
} 

/*CSS Loader*/
.loader,
.loader:before,
.loader:after {
  background: #000040;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  color: #000040;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/*Css Spinner*/
.spinner {
  margin: 10px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin-right: 3px;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}