html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
 
body {
  font-size: 12px !important;
  line-height: 20px;
  min-height: 100%;
  overflow-y: scroll;
/*  background-color: #333333 !important;*/
}     

.sv-page-container{
	margin-right: 0px;
	margin-left: 0;
	text-align: left;
  margin-top: 46px !important;
	padding-bottom: 20px !important;
  /*padding-left: 20px;
  padding-right: 20px;*/
}
   
/*NAV BAR CSS*/
.header-username{
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
  color: #c5c5c5;
  padding-top: 11px;
  padding-bottom: 10px;
  line-height: 20px;
}

.sv-element{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.sv-date-input{
  width: 76px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-bottom: 3px;
}

.sv-cursor-pointer{
  cursor: pointer;
}

.sv-button{
  width: 150px;
}

.sv-button-lg{
  width: 100%;
  height: 90px;
  font-size: 36px;
}

.sv-button-md{
  width: 200px;
  height: 45px;
  font-size: 22px;
}

.sv-button-sm{
  width: 70px;
}

.sv-num-button{
  margin-top: 10px;
  width: 160px;
  height: 90px ;
  font-size: 24px;
  font-weight: 600;
}

.sv-num-button.steel-ladle{
  width: 320px;
}

.sv-matte-controls{
  width: 20%;
}

.sv-label{
  text-align: middle;
  border: 1px solid black;
  padding: 6px 13px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
/*  height: 34px;*/
  font-size: 40px;
}

.sv-radio-lg{
  font-size: 40px;
}

.sv-input-lg{
  font-size: 34px;
  width: 200px;
  border: 1px solid #e5e5e5;
  padding: 6px 12px;
  border-radius: 4px;
  text-align: center;
}
.sv-input{
  border: 1px solid #e5e5e5;
  padding: 6px 12px;
  border-radius: 4px;
  text-align: left;
}
.sv-label-lg{
  font-size: 34px;
}

.sv-link{
  color: #64b5f6;
  border-bottom: dashed 1px #64b5f6;
  cursor: pointer;
}

.sv-link:hover{
  color: #0645AD;
  border-bottom: dashed 1px #0645AD;
}

.sv-link-alt{
  color: #0645AD;
  border-bottom: dashed 1px #0645AD;
  cursor: pointer;
}

.sv-link-alt:hover{
  color: #64b5f6;
  border-bottom: dashed 1px #64b5f6;
}

.sv-text-area{
  border: 1px solid #e5e5e5;
  padding: 6px 12px;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  resize: none;
  font-size: 34px;
  line-height: 34px;
}

.sv-icon:hover{
  color: #a9a9a9;
  cursor: pointer;
}

.sv-left-pad{
  padding-left: 10px;
}

.sv-left-pad-20{
  padding-left: 20px;
}

.sv-header{
  background-color: #eee;
  font-weight: 600;
}

.sv-header-50{
  background-color: #eee;
  font-weight: 600;
  width: 50%;
}

.sv-active-equipment{
  background-color: #dedede;
}

.sv-arrow-up:before{
  position: absolute;
  top: -8px;
  left: 9px;
  right: auto;
  display: inline-block !important;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #e0e0e0;
  border-left: 8px solid transparent;
  content: '';
}

/*Used in inlineInputEditor.jsx*/
.inline-edit-empty{
  color: #DD1144;
  font-style: italic;
  border-bottom: dashed 1px #DD1144;
}
.inline-edit-empty-disabled{
  color: #DD1144;
  font-style: italic;
}
.inline-edit-good{
  color: #64b5f6;
  border-bottom: dashed 1px #64b5f6;
  cursor: pointer;
}
/*End inlineInput Editor*/

/*End of Shift CSS*/
.sv-eos-input{
  border: 1px solid #A9A9A9;
  margin-bottom: 2;
  height: 25;
  width: 100%;
  background-color: #FFFEB1;
}

.sv-eos-input:disabled{
  cursor: not-allowed;
}

.sv-eos-table{
  margin-top: 0;
  margin-bottom: 0;
  background-color: #FFF;
}

.sv-eos-select{
  border: 1px solid #A9A9A9;
  margin-bottom: 2px;
  height: 25px;
  width: 100%;
  background-color: #FFFEB1;
  vertical-align: middle;
}

.sv-eos-select:disabled{
  cursor: not-allowed;
}
/*End of Shift CSS*/

.sv-live-label{
  width: 93px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.sv-live-label:disabled{
  cursor: not-allowed;
}
.sv-approved{
  color: green;
}
.sv-banned{
  color: red;
}


/*sv-fixed-table Table CSS*/
.sv-fixed-table {
  width:100%;
  table-layout: fixed;
}
.sv-fixed-table th {
}
.sv-fixed-table th,
.sv-fixed-table td {
  /*padding: 5px;
  text-align: left;*/
  min-width: 210px;
}
.sv-fixed-table thead {
}
.sv-fixed-table thead tr {
  display: block;
  position: relative;
}
.sv-fixed-table tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
}
/*END sv-fixed-table Table CSS*/

.sv-no-pad-top{
  padding-top: 0px;
}

.sv-multi-option{
  cursor: pointer;
}
.sv-multi-option:hover{
  background-color: #d3d3d3;
}

.black{
  color: black !important;
}

.red{
  color: #E82222;
}

.sm-margin-btm{
  margin-bottom: 0px !important;
}

.sv-select{
  border: 1px solid #e5e5e5;
  margin-bottom: 2px;
  height: 25px;
  width: 100%;
  background-color: white;
  vertical-align: middle;
  border-radius: 4px;
  padding-left: 12px;
  font-size: 14px;
} 
 

/*SOP Project Treeview CSS*/
.sop-doc-treeview > ul {
  list-style:none;
  padding-left: 0px;
}

.sop-doc-treeview > li{
  /*list-style-image: url('../../assets/metronic/global/img/treeview/folder-closed.png');*/
  /*cursor: pointer;*/
  list-style-position: inside;
  font-weight: 100;
  font-size: 14px;
  list-style-type: none;
}

.sop-item-open{
  /*list-style-image: url('../../assets/metronic/global/img/treeview/folder.png') !important;*/
}

.sop-doc-item{
  /*list-style-image: url('../../assets/metronic/global/img/treeview/file.png') !important;*/
} 
.light-grey{
  color: #B9B9B9 !important;
}

.sop-card {
  /*background-color: #fff;
  border: 1px solid black;*/
  margin-top: 5%;
  padding: 5px;
}