/* here you can put your own css to customize and override the theme */

/* MODIFIED METRONIC CLASSES FOR TABLES */
.bg-grey-table {
  /*border-color: #E5E5E5 !important;*/
  background-image: none !important;
  background-color: #E5E5E5 !important;
  color: #333333 !important;
}
.bg-blue-table {
  /*border-color: #E5E5E5 !important;*/
  background-image: none !important;
  background-color: rgba(71, 123, 255, 1) !important;
  color: #333333 !important;
}
.bg-grey-cararra-table {
  /*border-color: #fafafa !important;*/
  background-image: none !important;
  background-color: #fafafa !important;
  color: #333333 !important;
}
.bg-red-sunglo-table {
  /*border-color: #E26A6A !important;*/
  background-image: none !important;
  background-color: #E26A6A !important;
  color: #FFFFFF !important;
}
.bg-green-jungle-table {
  /*border-color: #26C281 !important;*/
  background-image: none !important;
  background-color: #26C281 !important;
  color: #FFFFFF !important;
}
.bg-green-meadow-table {
  /*border-color: #1BBC9B !important;*/
  background-image: none !important;
  background-color: #1BBC9B !important;
  color: #FFFFFF !important;
}
.bg-green-table {
  /*border-color: #35aa47 !important;*/
  background-image: none !important;
  background-color: #35aa47 !important;
  color: #FFFFFF !important;
}
.bg-yellow-table {
  /*border-color: #FFB848 !important;*/
  background-image: none !important;
  background-color: #FFB848 !important;
  color: #000000 !important;
}
.bg-orange-table {
  /*border-color: #FFB848 !important;*/
  background-image: none !important;
  background-color: #FFA248 !important;
  color: #FFFFFF !important;
}
.bg-light-yellow-table {
  /*border-color: #FFB848 !important;*/
  background-image: none !important;
  background-color: #F3FF48 !important;
  color: #000000 !important;
}
.bg-yellow-saffron-table {
  /*border-color: #F4D03F !important;*/
  background-image: none !important;
  background-color: #F4D03F !important;
  color: #000000 !important;
}
.bg-yellow-saffron-table-edit {
  /*border-color: #F4D03F !important;*/
  background-image: none !important;
  background-color: #FFFEB1 !important;
  color: #000000 !important;
  cursor: pointer;
}
.bg-red-sunglo-table-edit {
  /*border-color: #E26A6A !important;*/
  background-image: none !important;
  background-color: #E26A6A !important;
  color: #FFFFFF !important;
  cursor: pointer;
}
.bg-fade {
  transition: background .25s ease-in-out, color .25s ease-in-out;
  -moz-transition: background .25s ease-in-out, color .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out, color .25s ease-in-out;
}


/* ENSURE BODY DOESN'T SCROLL WITH ASIDE OPEN */
body.aside-open {
  position: fixed;
  overflow: hidden;
}
 

/* CAST DETAILS MODAL BUTTONS */
.cast-details-button {
  width: 80px;
  margin-top: 15px;
  white-space: normal;
  /*padding: 2px 4px;*/
}

.modal-entry-label {
  width: 125px;
}

/*
.modal.center2 .modal-dialog {
    position:absolute;
    top:40%;
    left:50%;
    min-width:320px;
    max-width:630px;
    width:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%)
}
*/

/*
* START CUSTOM DROPDOWN CSS
*/
.dropdown-menu li > div {
  padding: 8px 14px;
  color: #555;
  text-decoration: none;
  display: block;
  clear: both;
  font-weight: 300;
  line-height: 18px;
  white-space: nowrap;
}

.dropdown-menu li > div:hover,
.dropdown-menu .active > div,
.dropdown-menu .active > div:hover {
  text-decoration: none;
  background-image: none;
  background-color: #f6f6f6;
  color: #555;
  filter: none;
}
/*
* END CUSTOM DROPDOWN CSS
*/

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 5px;
}

/*
* START CUSTOM UI TREE CSS
*/
.angular-ui-tree-node,
.angular-ui-tree-placeholder,
.angular-ui-tree-nodes,
.angular-ui-tree {
    display: inline-block;
    vertical-align: top;
}

.angular-ui-tree-node,
.angular-ui-tree-placeholder {
    line-height: 0;
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

.col-lg-6 {
    width: 100%;
}

/*
* END CUSTOM UI TREE CSS
*/

/*
* START HIGHCHARTS LOADING CSS
* NOTE: This CSS depends on bounceDelay, bounce1, bounce2, bounce3 and maybe other CSS elements defined in Metronic CSS
*/
.chart-spinner-bar {
  /*z-index: 10051;
  width: 100px;
  top: 40%;
  left: 50%;*/
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.chart-spinner-bar > div {
  margin: 0 5px;
  width: 18px;
  height: 18px;
  background: #da594a;
  border-radius: 100% !important;
  display: inline-block;
  -webkit-animation: bounceDelay 1.4s infinite ease-in-out;
  animation: bounceDelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.chart-spinner-bar .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.chart-spinner-bar .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
/*
* END HIGHCHARTS LOADING CSS
*/

/*
* START LOGIN CSS
*/
.login {
  /*background-color: #444 !important;*/
}

.login .logo {
  margin: 60px auto 20px auto;
  padding: 15px;
  text-align: center;
}

.login .content {
  background-color: #fff;
  width: 360px;
  margin: 0 auto;
  margin-bottom: 0px;
  margin-top: 80px;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #ccc;
}

.login .content h3 {
  color: #000;
}

.login .content h4 {
  color: #555;
}

.login .content p {
  color: #222;
}

.login .content .login-form,
.login .content .forget-form {
  padding: 0px;
  margin: 0px;
}

.login .content .input-icon {
  border-left: 2px solid #44B6AE !important;
}

.login .content .input-icon {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.login .content .input-icon .form-control {
  border-left: 0;
}

.login .content .forget-form {
  display: none;
}

.login .content .register-form {
  display: none;
}

.login .content .form-title {
  font-weight: 300;
  margin-bottom: 25px;
}

.login .content .form-actions {
  background-color: #fff;
  clear: both;
  border: 0px;
  border-bottom: 1px solid #eee;
  padding: 0px 30px 25px 30px;
  margin-left: -30px;
  margin-right: -30px;
}

.login .content .form-actions .checkbox {
  margin-left: 0;
  padding-left: 0;
}

.login .content .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.login .content .register-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0px;
}

.login .content .form-actions .checkbox {
  margin-top: 8px;
  display: inline-block;
}

.login .content .form-actions .btn {
  margin-top: 1px;
}

.login .content .forget-password {
  margin-top: 25px;
}

.login .content .create-account {
  border-top: 1px dotted #eee;
  padding-top: 10px;
  margin-top: 15px;
}

.login .content .create-account a {
  display: inline-block;
  margin-top: 5px;
}

.login .content .select2-container {
  border-left: 2px solid #44B6AE !important;
}

.login .content .select2-container .select2-choice {
  border-left: none !important;
}

.login .content .select2-container i {
  display: inline-block;
  position: relative;
  color: #ccc;
  z-index: 1;
  top: 1px;
  margin: 4px 4px 0px -1px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center;
}

.login .content .has-error .select2-container i {
  color: #b94a48;
}

.login .content .select2-container a span {
  font-size: 13px;
}

.login .content .select2-container a span img {
  margin-left: 4px;
}

.login .copyright {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  color: #999;
  font-size: 13px;
}

@media (max-width: 480px) {
  .login .logo {
    margin-top: 10px;
  }

  .login .content {
    width: 280px;
  }

  .login .content h3 {
    font-size: 22px;
  }

  .login .checkbox {
    font-size: 13px;
  }
}
/*
* END LOGIN CSS
*/

/* START SIGNALR CSS */
.signalr-notification-area {
  margin-top: 50px;
  width: 800px;
  padding: 5px;
  border: solid 1px #CCC;
  background-color: #FFF;
  box-shadow: 5px 5px rgba(102, 102, 102, 0.1);

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.signalr-notification-area.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 3s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
/* END SIGNALR CSS */

.notification-area {
  margin-top: 50px;
  margin-right: 5px;
  width: 400px;
  padding: 5px;
  border: solid 1px #CCC;
  background-color: #FFF;
  box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
}

.notification {
  cursor: pointer;
}

.notification:hover {
  cursor: pointer;
 /* font-weight: bold;*/
}

.notification .details {
  width: 100%;
  color: #FFFFFF;
  padding: 3px 0px 4px 0px;
  margin: 1px;
}

.notification .details-dark {
  width: 100%;
  color: #000;
  padding: 3px 0px 4px 0px;
  margin: 1px;
}

.notification .time {
  float: right;
  margin-right: 3px;
  background-color: transparent;
  color: #FFF;
}

.notification .time-dark {
  float: right;
  margin-right: 3px;
  background-color: transparent;
  color: #000;
}

.notification .close-all {
  /*background-color: #f1f1f1;*/
  color: #3D3D3D;
}

.fade-in-item {
  /*border: 1px solid #FF0000;*/
}

/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .fade-in-item
  class
*/
.fade-in-item.ng-enter, .fade-in-item.ng-move {
  -webkit-transition:0.3s linear all;
  -moz-transition:0.3s linear all;
  -o-transition:0.3s linear all;
  transition:0.3s linear all;
  opacity:0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.fade-in-item.ng-enter.ng-enter-active,
.fade-in-item.ng-move.ng-move-active {
  opacity:1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .fade-in-item class
*/
.fade-in-item.ng-leave {
  -webkit-animation:0.3s fade-in-animation;
  -moz-animation:0.3s fade-in-animation;
  -o-animation:0.3s fade-in-animation;
  animation:0.3s fade-in-animation;
}

@keyframes fade-in-animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes fade-in-animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes fade-in-animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes fade-in-animation {
  from { opacity:1; }
  to { opacity:0; }
}